body {
    display: grid;
    place-items: center;
    background-color: #dceef5;
    color: #000000;
    font-family: 'Arial', sans-serif;
    
}
text{
    font-family: 'Arial', sans-serif;
}

#skip {
    position: absolute;
    top: -40px;
    left: -40px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

nav {
    border: 5px solid hsl(210, 62%, 34%);
    font-size: 18px;
    text-align: center;
    grid-column: 1 / -1;
    width: 100%; 
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav li {
    display: inline-block;
}

nav a.active {
    text-decoration: underline;
    color: hsl(210, 62%, 34%);
}

.thumbnail {
    margin: 10px 0;
}

a:hover {
    color: hsl(210, 62%, 34%);
}

h1 {
    font-size: 50px;
    color:  #2368a7;
    text-align: center;
    font-family: 'Chalkduster';
}

h2 {
    font-size: 24px;
    font-weight: bold;
    color: #634eb0;
    text-align: center;
    width: 100%;
    font-family: 'Chalkduster';
    
}

h3 {
    font-size: 20px;
    font-weight: bold;
    color: #2368a7;
    text-align: center;
    white-space: nowrap;
    width: 100%;
    font-family: 'Chalkduster';
}

p {
    line-height: 1.8;
    grid-column: 1 / -1;
}

ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 0;
    justify-content: center;
}
ul {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px; 
}

li {
    color: #2c3e50;
    padding: 5px;
    text-align: center;
}

img {
    border: 5px solid #5b5189;
    padding: 0px;
    border-radius: 30px;
    max-width: 100%;
    height: auto;
}
.thumbnail {
    width: 400px;
}


.large-images {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .large-images img {
    width: 200px; 
    height: auto; 
    animation: fadeInScale 1s ease-in-out;
  }
  p{
    text-align: center;
  }
  .gallery {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px; /* Adjust the gap between images as needed */
  }
  
  .gallery img {
    width: 300px; /* Adjust the width as needed */
    height: 250px; /* Maintain aspect ratio */
    display: block;
    margin: auto;
  }
  
@media (prefers-reduced-motion: reduce) {
    img[src$=".gif"] {
        display: none; 
    }
    .large-images img {
        animation: none; 
    }
}

@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}


@media only screen and (min-width: 800px) {
    #skip {
        display: block;
    }
    nav{
        border: 2px solid hsl(210, 62%, 34%);
    }
    
    p {
        line-height: 1.8;
        grid-column: 1 / -1;
    }
    
    ul {
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;
        padding: 0;
        justify-content: center;
    }
    
    img {
        
        padding: 10px;
        border-radius: 30px;
        max-width: 100%;
        height: auto;
    }

    .thumbnail {
        width: 400px;
    }
    

    
    
}